@import 'app.css';

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 0 var(--horizontal-gap);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.overlay__content {
    position: absolute;
    background-color: white;
    width: fit-content;
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    top: var(--nav-height);
    right: var(--horizontal-gap);
}

.overlay__content.center {
    position: static;
}