@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* variables */
:root {
    --horizontal-gap: 5%;
    --nav-height: 60px;
    --color-primary:   #00A170;
}

/* reset default styles  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: var(--nav-height) var(--horizontal-gap);
}